numpy
torchvision
pandas
pillow
scikit-learn
typing_extensions
zlib
pip
wheel
pysocks
openssl
tornado
jinja2
setuptools
pytz
charset-normalizer
sympy
mpmath
gmpy2
python
matplotlib
tqdm
scipy
packaging
colorama
filelock
urllib3
requests
markupsafe
networkx
yaml
pyyaml
zipp
torchaudio
optuna
torch